<div>
    <div>
        <h1><%-title-%></h1>
        <%- messages() %>
    </div>
    <div class="account-container">
        <h2> Welcome😀 <%- user.account_firstname %></h2>
        <p>You are logged in!🎉</p>
        <% if (user.account_type === 'Client') { %>
        <% } else { %>
        <p><a href="/inv/">Manage Inventory</a></p>
        <% if (user.account_type === 'Owner') { %>
        <p><a href="/account/admin">Manage Users</a></p><% } %>
        <% } %>
        <p><a href="/account/edit/<%- user.account_id %>">Update account information</a></p>
    </div>
</div>









<!-- <div>
    <div>
        <h1><%-title-%></h1>
        <%- messages() %>
    </div>
     <div>
        <h2> Welcome😉 <%- user.account_firstname %></h2>
        <p>You are logged in!</p>
        <% if (user.account_type === 'Client') { %>
        <% } else { %>
            <p><a href="/inv/">Manage Inventory</a></p>
    
            <% if (user.account_type === 'Owner') { %>
                <p><a href="/account/admin">Manage Users</a></p>
            <% } %>
        <% } %>
    
    
        <p><a href="/account/edit/<%- user.account_id %>">Update account information</a></p>
    </div>
</div> -->
