<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
  <body>
    <div id="wrapper">
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>
    
    <main>
      <%- body %>  <!-- Aquí se insertará el contenido dinámico -->
    </main>

    <%- include('partials/footer') %>
    </div>
  </body>
</html>
